html {
    background-color: rgb(80, 80, 80);
}

.container {
	padding-top: 10px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
}

header {
    background-color: rgb(144, 144, 144);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1420px;
    height: 110px;
}

.rad {
    border-radius: 10px;
}

.shadow {
    box-shadow: 10px 10px 10px black;
	-moz-box-shadow: 10px 10px 5px 0px black;
	-webkit-box-shadow: 10px 10px 5px 0px black;
	-o-box-shadow: 10px 10px 5px 0px black;
}

.hright {
    width: 300px;
    height: 100%;
	float: right;
    position: relative;
}

.reload {
    height: auto;
    width: 18px;
    float: right;
    margin-right: 5px;
}

.cross {
    bottom: 1px;
    height: auto;
    width: 17px;
    position: absolute;
    margin-right: 5px;
    right: 0;
}

.main {
    background-color: rgb(144, 144, 144);
    margin-left: 25px;
    margin-right: 25px;
    width: 1020px;
}

.cluster {
    width: 1000px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.col-left {
    background-color: rgb(144, 144, 144);
    margin-left: 35px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    width: 105px;
    height: 385px;
}

.col-left img {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

.middle .col-right {
    background-color: rgb(144, 144, 144);    
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 131px;
    height: 385px;
}

.col-right img {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

.brick {
    background-image: url("./resources/brick.jpg");
    width: 120px;
	height: 70px;
}

.middle .float {
	float: left;
}

.middle {
	margin-top: 20px;
	width: 100%;
	
}

.greenbox {
	float: left;
	width: 510px;
	height: 170px;
	position: absolute;
	top: 665px;
	left: -42px;
	padding-left: 10px;
	background-color: rgb(136, 255, 137);
    font-family: Times;
    font-size: 20px;
    line-height: 25px;
}

.enter {
    font-size: 40px;
}


input { 
    width: 380px;
}